{{> navigation }}
<div class="row mt-5">
  <div class="container-fluid">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe style="width: 100%;" class="embed-responsive-item" src="https://expovirtual360.co/clientes/sistemagestion/" allowfullscreen></iframe>
    </div>
  </div>
</div>