<section class="card">
  <div class="card-body">
    <h1>Información</h1>
    <p>
      El Encuetro Latinoamericano SISTEMAS DE GESTIÓN se propone focalizarnos en una nueva normalidad de negocios en los <strong>Sistemas de Gestión</strong>.
    </p>
  </div>
</section>
