
  <div class="row vh-100 min-vh-100">
    <div class="col-lg-7 col-md-9 col-sm-12 pt-5 mt-5 pb-5">
      <div class="mx-auto col-md-12 col-lg-9 col-xl-7 col-sm-12 mt-5 mb-5">
        <div class="card-body mt-6 text-left">
            <div class="ml-4">
              <img class="mx-auto logo m-5 text-left " src="/img/logo.png" alt="Logo">
            </div>
          <div class="card-body center">
            <h1 class="h2 text-left text-muted">
              Accede a tu cuenta
            </h1>
            <div>
              <h4 class="mt-3 mb-4 text-muted lead">¿No tienes una cuenta aún? regístrate <a style="color: #ff6600;" href="/users/signup">aquí</a> </h4>
            </div>
            <form action="/users/signin" method="POST">
              <div class="ml-4 text-muted"><h5>Email</h5></div>
              <div class="form-group position-relative">
                <i class="fa fa-user fa-lg position-absolute ml-4 mt-3"></i>
                <input type="email" class="form-control border rounded-pill input-rec pl-5" name="email">
              </div>
              <div class="ml-4 text-muted"><h5>Contraseña</h5></div>
              <div class="form-group">
                <i class="fa fa-lock fa-lg position-absolute ml-4 mt-3"></i>
                <input type="password" class="form-control border rounded-pill input-rec pl-5" name="password">
              </div>
              <button style="background-color: #ff6600; color:aliceblue" class="btn btn-block rounded-pill mt-5">
                <h2 class="h4 mt-1"> <strong> Ingresa </strong></h2> 
              </button>
              <div class="form-check mt-3 text-center">
                <div>
                <h5 class="mt-3 mb-4 text-muted lead">Al ingresar al evento confirmo que he leído y aceptado los
                  <a style="color: #ff6600;" href="terminos">Términos y Condiciones</a> y <a style="color: #ff6600;" href="/politica">la Política de privacidad</a> de Expovirtual 360.</h5>
                </div>
              </div>
            </form>
          </div>
        </div>
        {{!-- <div>
          <h4 class="text-right mt-3 mb-2 text-muted lead mt-5 pt-5"><a style="color: #ff6600;" href="/users/signup">¿Olvidaste tu contraseña?</a> </h4>
        </div>
        <div>
          <h4 class="text-right mb-5 text-muted lead mb-5 pb-5"><a style="color: #ff6600;" href="/users/signup">¿No recibiste el email para activar tu cuenta?</a> </h4>
        </div> --}}
      </div>
    </div>
      <div class="col-lg-5 col-md-3 col-sm-12 bg d-flex align-items-center">
        <div class="card-body text-center">
              <img class="w-75" src="/img/logoblanco-portada.png" alt="Logo"></a>
              {{#if user}}
              <div class="d-flex justify-content-center">
                <div class="col-md-9">
                  <a href="/360" style="text-decoration-line: none" ><button style="background-color: #4866c8; color:aliceblue" class="text-center btn btn-block mt-5">
                    <h2 class="h4 mt-1"> <strong> Vuelve al evento </strong></h2> 
                  </button></a>
                </div>
              </div>
              {{else}}
              <div></div>
              {{/if}}
        </div>
      </div>
  </div>
