<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom mb-0 mt-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CONTRAVE MERCK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto"></ul>
          <li style="list-style:none" class="nav-item dropdown">
            <ul class="mt-0 mb-0 h3 mr-4 text-right">Abril 14 de 2021</ul>
            <ul class="mt-0 mb-0 h5 mr-4 text-right">{{ email }}</ul>
          </li>
          <li style="list-style:none;" class="border-left row-bordered pl-0">
            <ul class="mt-3"><a style="color: #934D8A; font-size: 26px; font-weight: bold;" class="h2 ml-5 mr-5" href="/">SALIR</a></ul>
          </li>
        </ul>
    </div>
  </div>
</nav>
